$headingsBackgroundColor: lightgray;
$introTextBackgroundColor: rgb(234, 236, 236);

.print-only {
    display: none;
}

@media (min-width: 700px) {
    .container div {
        padding: 20px;
        margin: 10px;
        width: 200px;
        img {
            width: 200px;
        }
    }
}

@media (max-width: 699px) {
    .container div {
        padding: 8px;
        margin: 5px;
        width: 30%;
        img {
            width: 30%;
        }
    }
}

@media print {
    .screen-only {
        display: none;
    }
    .print-only {
        display: inline;
    }
}

%paragraph {
    padding: 5px;
}

.introParagraph {
    @extend %paragraph;
    background-color: $introTextBackgroundColor;
}

.secondParagraph {
    @extend %paragraph;
    font-style: italic;
}

body,
head {
    font-family: Arial, Helvetica, sans-serif;
}

h2,
th {
    background-color: $headingsBackgroundColor;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    width: 50%;
}

table {
    margin: 10px;
    border: 2px solid black;
    border-collapse: collapse;
}

td,
th {
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div {
        background-color: rgb(109, 128, 148);
        font-family: fantasy;
        font-style: italic;
    }
}
