.container {
    display: flex;
    flex-wrap: wrap;
    div {
        background-color: lightgray;
        font-size: 20px;
        margin: 20px;
        padding: 20px;
        width: 200px;
    }
}

